.layout-create {
  display: flex;
}

.info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
}
.description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
}

.form-group {
  position: relative;
  margin: 1.5rem 0;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 1rem 0.75rem 0.75rem 0.75rem;
  border: 2px solid #345;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  background: #f7ecec;
  resize: none;
}

.form-group label {
  position: absolute;
  top: -0.6rem;       
  left: 0.75rem;
  background: #f7ecec;
  padding: 0 0.3rem;
  color: #345;
  font-size: 0.9rem;
}

input, textarea {
  font-family: inherit;
}

.horizontal-group {
  display: flex;
  align-items: center;
  position: relative;
  margin: 1.5rem 0;
}

.horizontal-group label {
  position: static; 
  background: none;
  font-size: 1rem;
  color: #345;
  font-weight: 500;
  min-width: 140px;
}


.horizontal-group select {
  flex: 1;
  padding: 0.4rem;
  border: 2px solid #345;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  background: #f7ecec;
  appearance: none;
  font-family: inherit;
  color: #345;
  cursor: pointer;
}

.submit-button {
  margin-top: 1.5rem;
}

button {
  background: #7a9e6f;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.remove-button {
  
}

button:hover {
  background: #5f7d55;
}

.manage-participants {
  margin-top: 20px;
}

.manage-participants h3 {
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.participants-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.participant-name {
  position: relative;
  cursor: pointer;
  color: #000;
  transition: color 0.25s ease;
}

.participant-name::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0.8em; /* move line closer to text */
  width: 0;
  height: 2px;
  background-color: #d11a2a;
  transition: width 0.25s ease;
}

.participant-name:hover {
  color: #d11a2a;
}

.participant-name:hover::after {
  width: 100%;
}


@media (max-width: 800px) {
  .layout-create {
    flex-direction: column;
  }
}