.participant-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 5px;
}

.participant {
  padding: 6px;
  border-radius: 4px;
  text-align: center;
}

.manage-session {
  text-align: left;
}

.manage-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
