.table {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.row-header {
    border-collapse: collapse;
    width: 90%;
    overflow: hidden;
    padding: 1rem;
}

.row {
    border-bottom: 1px solid gray;
    height: 4rem;
}
.row th {
    font-size: 1.5rem;
    font-weight: 700;
}

@media (max-width: 700px) {
    tr {
        height: 3rem;
    }
}